:root {
    font-family: "Balsamiq Sans", sans-serif;
    font-family: "Kaisei Decol", sans-serif;
    font-family: "Manrope", sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #0C3E2E;
    line-height: 1.2;
}

.title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* header */
.header {
    background-image: url(../images/header-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.header__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-top {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    gap: 0 30px;
}

.phone {
    color: #BB8A52;
}

.header-content {}

.header-content__inner {
    display: flex;
    gap: 0 22px;
    align-items: center;
    justify-content: space-between;
}

.header-content__text {
    max-width: 510px;
}

.header-content__text span {
    color: #cc2e2e;
}

.header__title {
    font-size: 48px;
    font-weight: 600;
    margin: 20px 0 80px;
    max-width: 434px;
}

.header-content__btn {
    background-color: #ffba00;
    padding: 20px 32px;
    display: inline-block;
    margin-top: 50px;
    font-size: 20px;
}

.header__text {
    font-size: 24px;
    text-align: center;
    padding: 25px 0;
}

.about {
    margin-bottom: 150px;
}

.about__inner {
    display: flex;
    gap: 22px;
    align-items: center;
}

.about__text {
    max-width: 506px;
    margin-bottom: 30px;
}

.about__text span {
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.about__inner-title {
    font-size: 28px;
    margin-bottom: 30px;
}

.about__inner-list {
    display: flex;
    gap: 0 30px;
    text-align: center;
    color: #bb8a52;
}

.about__inner-list dt {
    font-size: 48px;
    margin-bottom: 5px;
}

.why {
    margin-bottom: 150px;
}

.container {}

.title {}

.why__text {
    margin-bottom: 40px;
    max-width: 580px;
    font-size: 28px;
}

.why__inner {
    display: flex;
    gap: 0 22px;
    align-items: center;
}

.why__img {}

.why__inner-list {
    list-style-type: none;
    counter-reset: my-counter;
    padding-left: 10px;
}

.why__inner-item::before {
    content: counter(my-counter);
    counter-increment: my-counter;
    padding-right: 5px;
}

.why__inner-item {
    font-size: 28px;
}

.why__inner-item+.why__inner-item {
    margin-top: 55px;
}

.why__inner-item.p1--60 {
    padding-left: 60px;
}

.why__inner-item.p1--90 {
    padding-left: 90px;
}

.projects {
    margin-bottom: 110px;
}

.projects__text {
    margin-bottom: 30px;
    max-width: 595px;
    font-size: 28px;
}

.projects__gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.projects__gallery-text {
    text-align: center;
    padding: 20px 0;
}

.gallery--item {
    grid-area: span 2;
}

.services {
    margin-bottom: 110px;
    padding: 20px 20px 40px 20px;
    background-color: rgba(109, 151, 115, 0.1);
}

.services__text {
    max-width: 585px;
    margin-bottom: 30px;
    font-size: 28px;
}

.services__list {
    padding: 0 25px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.services__item-text {
    padding-top: 20px;
    font-size: 24px;
}

.prices {
    margin-bottom: 150px;
}

.prices__text {
    font-size: 28px;
    max-width: 730px;
    margin-bottom: 50px;
}

.prices__box {
    display: flex;
    gap: 22px;
}

.prices__list {
    border: 2px solid #FFBA00;
    padding: 60px 55px 88px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prices__item {
    font-size: 24px;
    max-width: 442px;
    text-align: left;
    margin: 10px;
}

.prices__item-first {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: 600;
}

.prices__item-sum {
    font-size: 36px;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 94px;
    padding-top: 50px;
}

.prices__item-sum sup {
    padding-bottom: 20px;
    font-size: 15px;
}

.prices__item-btn {
    display: block;
    background-color: #FFBA00;
    padding: 20px;
    width: 100%;
    font-size: 20px;
}