.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-top {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    gap: 0 30px;
}