:root {
    font-family: "Balsamiq Sans", sans-serif;
    font-family: "Kaisei Decol", sans-serif;
    font-family: "Manrope", sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #0C3E2E;
    line-height: 1.2;
}

.title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* header */
.header {
    background-image: url(../images/header-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.header__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-top {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    gap: 0 30px;
}

.phone {
    color: #BB8A52;
}

.header-content {}

.header-content__inner {
    display: flex;
    gap: 0 22px;
    align-items: center;
    justify-content: space-between;
}

.header-content__text {
    max-width: 510px;
}

.header-content__text span {
    color: #cc2e2e;
}

.header__title {
    font-size: 48px;
    font-weight: 600;
    margin: 20px 0 80px;
    max-width: 434px;
}

.header-content__btn {
    background-color: #ffba00;
    padding: 20px 32px;
    display: inline-block;
    margin-top: 50px;
    font-size: 20px;
}

.header__text {
    font-size: 24px;
    text-align: center;
    padding: 25px 0;
}

.about {
    margin-bottom: 150px;
}

.about__inner {
    display: flex;
    gap: 22px;
    align-items: center;
}

.about__text {
    max-width: 506px;
    margin-bottom: 30px;
}

.about__text span {
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.about__inner-title {
    font-size: 28px;
    margin-bottom: 30px;
}

.about__inner-list {
    display: flex;
    gap: 0 30px;
    text-align: center;
    color: #bb8a52;
}

.about__inner-list dt {
    font-size: 48px;
    margin-bottom: 5px;
}